body {
    background-color: rgb(233, 233, 233);
    display: flex;
}

.movies {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;   
    margin-top: 50px;
}

.loader {
    display: flex;
    width:100rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.movie {
    border-radius: 5%;
    width: 500px;
    padding: 10px;
    margin: 40px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgb(179, 179, 179);
    background-color: white;
}

.movie__data{
    width: 60%;
    color: rgb(71, 71, 71);
}

.movie__poster img {
    margin-top: -50px;
    width: 150px;
    border-radius: 3%;
}

li {
    list-style-type: none;
}

.movie__title {
    margin: 10px 5px;
    color:black;
}

.movie__year {
    margin: 0 5px;
}

.movie__summary {
    margin-top: 25px;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
}

.genres__genre{
    justify-content: center;
    margin: 0 3px; 
    font-size: 15px;
}